:root {
  --color-base-background: #fff;
  --color-base-background-lighter: #c7faf6;
  --color-base-text: #000;
  --color-base-text-lighter: #000
  --color-border: rgb(166,0,43) ;
  --color-primary-background: #9060ff;
  --color-primary-text: #b494ff;
}
